[Unit]
Description=Balla Box Universal (Python Version)
After=graphical-session.target pulseaudio.service
Wants=pulseaudio.service
# Tady mají být tyto limity:
StartLimitIntervalSec=0
StartLimitBurst=100

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/.local/bin/balla_box.py
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target
